{% extends "base.html" %}

{% load static %}

{% block content %}
<!--Banner-->
  <div class="banner" style="background-color: grey;">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">HAD STORAGE</h2>
            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">OFFICE STORAGE WITHOUT   THE HASSLE</p>
              <h3 style="color: white;">  We Collect. We Store. We Deliver.</h3>
              <a href="/pricing" class="btn get-quote">GET A QUOTE</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Banner-->

  <!--work-shop-->
  <section id="work-shop" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Creative & flexible office storage ideas</h2>
          <center>
           <img src="{% static 'img/p8.webp' %}" style="height: 30%; width: 25%;">
          </center><br>
          <h4>
            we can provide your business with highly-efficient, flexible storage of any office-related items.<br><br>
            It’s never been easier to improve the efficiency of your office storage. Our hassle-free storage process features four easy steps:<br><br>
            You Book – whenever you need to store sensitive office documentation or even bulky office furniture<br><br>
     We Collect – at a time convenient to you, as soon as the next working day<br><br>
            We Store – in one of our secure, CCTV-monitored storage facilities<br><br>
            We Deliver – your office storage back to you whenever you need it<br><br>
          </h4>
         
          <hr class="bottom-line">
       
        </div>
      </div>
    </div>
  </section>
  <!--/ work-shop-->

  <!--Pricing-->
  <section id="pricing" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>TIPS ON HOW TO LIVE A BIGGER LIFE</h2>
         <hr class="bottom-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="price-table">
            <!-- Plan  -->
            <div class="pricing-head">
              <img src= "{% static 'img/p10.jpeg' %}" style="height: 70%; width: 100%;">
              <br><br>
            <h2>Business documentation is often full of sensitive and critical information. You will no doubt rely on this data to take your company forward in…</h2>
            <br>
            </div>

            <!-- Plean Detail -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="price-table">
            <!-- Plan  -->
            <div class="pricing-head">
              <img src="{% static 'img/p9.jpg' %}" style="height: 80%; width: 100%;">
              <br><br><br>
              <h2>Smart office space options The first office is a landmark in the start-up journey. Where you work from will influence how you work, and…</h2>
              <br>
             </div>

            <!-- Plean Detail -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="price-table">
            <!-- Plan  -->
            <div class="pricing-head">
             <img src="{% static 'img/p11.webp' %}" style="height: 70%; width: 80%;">
             <br>
              <span class="fa fa-usd curency"></span> 
              <h2>Choosing the Smarter Storage Option for Your Smarter Business Are you looking for storage for your business but finding it hard to work out whether you’re…</h2><br>
            </div>

            <!-- Plean Detail -->
           
          </div>
        </div>
      </div>
    </div>
  </section>
<!--/ Pricing-->












  <!--Pricing-->
  <section id="pricing" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>TIPS ON HOW TO LIVE A BIGGER LIFE</h2>
         <hr class="bottom-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="price-table">
            <!-- Plan  -->
            <div class="pricing-head">
              <h2 style="color: blacj;">Flexible office storage</h2>
              <img src= "{% static 'img/p13.jpg' %}" style="height: 70%; width: 70%;">
              <br><br><br>
            <h2>We provide a smarter, more dynamic business storage service, perfect for those based in smaller offices and home-based offices requiring flexibility</h2>
            
            </div>

            <!-- Plean Detail -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="price-table">
            <!-- Plan  -->
            <div class="pricing-head">
              <h2 style="color: black;">Hassle-free storage </h2>
              <img src="{% static 'img/p14.jpg' %}" style="height: 80%; width: 80%;">
              <br><br><br>
              <h2>No matter where your office is, our delivery team can collect, store and re-deliver your office.<h2>
              <br>
             </div>

            <!-- Plean Detail -->
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="price-table">
            <!-- Plan  -->
            <div class="pricing-head">
              <h2 style="color: black;">Office storage with 24-hour security </h2>
             <img src="{% static 'img/p12.png' %}" style="height: 70%; width: 80%;">
             <br>
              <span class="fa fa-usd curency"></span> <br><br>
              <h2>At HAD STORAGE we take the security of your office storage very seriously and at each of our storage facilities we will look after your boxes all day, every day.</h2><br>
            </div>

            <!-- Plean Detail -->
           
          </div>
        </div>
      </div>
    </div>
  </section>
<!--/ Pricing-->


{% endblock %}