{% extends "base.html" %}

{% load static %}

{% block content %}
<br><br><br><br><br><br><br><br>
<center><button type="" class="btn btn-success">MY DETAILS</h2></center><br>
      <center> <li><a> <h2>You are currently logged in as: {{user.first_name}}</h2></a></li></center>
<br>

<center><button type="" class="btn btn-success">CHANGE PASSWORD</h2></center>

<form method="post">
  &nbsp;&nbsp;&nbsp;{% csrf_token %}
  <center>{{ form }}</center>
  <center><button type="submit" class="btn btn-success">Save changes</button></center><br><br>
</form>
</div>
<center><h3><li class="btn btn-info btn-lg" style="font-size: 20px; width: 170px;"><a href="{% url 'logout' %}">LOGOUT</a></li></h3></center><br><br>

{% endblock %}  
